In [2]:
# Importar o Pandas como pd
import pandas as pd

In [3]:
# Importar minha base de dados
df1 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/CSV_Unimed/Aracaju.xlsx')
df2 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/CSV_Unimed/Fortaleza.xlsx')
df3 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/CSV_Unimed/Natal.xlsx')
df4 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/CSV_Unimed/Recife.xlsx')
df5 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/CSV_Unimed/Salvador.xlsx')

In [8]:
# Convertendo tudo para um unico base de dados
df = pd.concat([df1, df2, df3, df4, df5])

In [10]:
# Criando uma coluna de Receita
df['Receita'] = df['Vendas'].mul(df['Qtde'])
# Criando um coluna de forama inversa
df['Receita/Vendas'] = df['Receita'] / df['Vendas']

In [11]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00    1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21    1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55    1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01    1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51    1522     8   196.08             8.0

In [12]:
df.dtypes

Cidade                    object
Data              datetime64[ns]
Vendas                   float64
LojaID                     int64
Qtde                       int64
Receita                  float64
Receita/Vendas           float64
dtype: object

In [9]:
# Transformando a coluna de data para inteiro
df['Data'] = df['Data'].astype('int64')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.

In [13]:
# Transformando a coluna de data para data
df['Data'] = pd.to_datetime(df['Data'])

In [13]:
# Agrupar por ano
df.groupby(df['Data'].dt.year)['Receita'].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [14]:
# Criar uma nova coluna com o ano
df['Ano_Venda'] = df['Data'].dt.year

In [15]:
df.head()

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda
0,Aracaju,2018-01-01,142.00,1520,1,142.00,1.0,2018
1,Aracaju,2018-01-01,14.21,1522,6,85.26,6.0,2018
2,Aracaju,2018-01-01,71.55,1520,1,71.55,1.0,2018
3,Aracaju,2018-01-01,3.01,1521,7,21.07,7.0,2018
4,Aracaju,2018-01-01,24.51,1522,8,196.08,8.0,2018

In [16]:
# Extraindo o mes e o dia
df['Mês_Vendas'], df['Dia_Venda'] = (df['Data'].dt.month, df['Data'].dt.day)

In [17]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,Mês_Vendas,Dia_Venda
222,Salvador,2019-01-02,43.96,1037,1,43.96,1.0,2019,1,2
84,Recife,2019-01-01,36.41,980,6,218.46,6.0,2019,1,1
45,Salvador,2019-01-01,175.25,1035,3,525.75,3.0,2019,1,1
146,Salvador,2019-01-02,149.88,1037,1,149.88,1.0,2019,1,2
74,Aracaju,2018-01-01,7.86,1520,2,15.72,2.0,2018,1,1

In [18]:
# Retornar a data mais antiga na tabela
df['Data'].min()

Timestamp('2018-01-01 00:00:00')

In [20]:
# Retornar a menor Data, com toda a linha (TOP 3)
df.nsmallest(3, 'Data')

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,Mês_Vendas,Dia_Venda
0,Aracaju,2018-01-01,142.00,1520,1,142.00,1.0,2018,1,1
1,Aracaju,2018-01-01,14.21,1522,6,85.26,6.0,2018,1,1
2,Aracaju,2018-01-01,71.55,1520,1,71.55,1.0,2018,1,1

In [21]:
# Calcular a diferança de dias
df['diferença_dias'] = df['Data'] - df['Data'].min()

In [22]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,Mês_Vendas,Dia_Venda,diferença_dias
232,Salvador,2019-01-03,167.76,1034,3,503.28,3.0,2019,1,3,367 days
231,Salvador,2019-01-03,89.85,1034,2,179.70,2.0,2019,1,3,367 days
53,Fortaleza,2019-01-01,11.48,1002,4,45.92,4.0,2019,1,1,365 days
76,Recife,2019-01-01,17.86,980,5,89.30,5.0,2019,1,1,365 days
2,Natal,2019-03-11,308.00,852,3,924.00,3.0,2019,3,11,434 days

In [23]:
# Criar um coluna de trimestre
df['difrença_venda'] = df['Data'].dt.quarter

In [46]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,Mês_Vendas,Dia_Venda,diferença_dias,difrença_venda
139,Salvador,2019-03-02,169.01,1036,1,169.01,1.0,2019,3,2,425 days,1
42,Recife,2019-01-01,161.45,983,3,484.35,3.0,2019,1,1,365 days,1
22,Fortaleza,2019-01-01,150.32,1005,1,150.32,1.0,2019,1,1,365 days,1
6,Natal,2018-07-02,322.00,852,4,1288.00,4.0,2018,7,2,182 days,3
44,Salvador,2019-01-01,43.26,1037,2,86.52,2.0,2019,1,1,365 days,1

In [47]:
# Filtrando as vendas de 2019 do mes de março
vendas_marco_19 = df.loc[(df['Data'].dt.year == 2019) & (df['Data'].dt.month == 3)]

In [48]:
vendas_marco_19

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,Mês_Vendas,Dia_Venda,diferença_dias,difrença_venda
108,Fortaleza,2019-03-02,152.89,981,4,611.56,4.0,2019,3,2,425 days,1
109,Fortaleza,2019-03-02,18.90,982,6,113.40,6.0,2019,3,2,425 days,1
110,Fortaleza,2019-03-02,51.98,983,6,311.88,6.0,2019,3,2,425 days,1
111,Fortaleza,2019-03-02,8.00,981,3,24.00,3.0,2019,3,2,425 days,1
112,Fortaleza,2019-03-02,133.59,982,1,133.59,1.0,2019,3,2,425 days,1
...,...,...,...,...,...,...,...,...,...,...,...,...
137,Salvador,2019-03-02,51.66,1036,3,154.98,3.0,2019,3,2,425 days,1
138,Salvador,2019-03-02,212.03,1037,3,636.09,3.0,2019,3,2,425 days,1
139,Salvador,2019-03-02,169.01,1036,1,169.01,1.0,2019,3,2,425 days,1
140,Salvador,2019-03-02,20.79,1036,2,41.58,2.0,2019,3,2,425 days,1
141,Salvador,2019-03-02,9.08,1036,1,9.08,1.0,2019,3,2,425 days,1